
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background: url('https://raw.githubusercontent.com/yuiyeyo/Lovender/main/lovender%20asset/header.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  padding: 5px;
  width: 100%;
  height: 200px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  font-size: 40px;
  line-height: 1.5;
}

.content-container {
  position: relative;
  overflow-y: auto; 
}

.section-one {
  position: relative;
  overflow-y: hidden; 
  padding: 0px;
  height: 30vh;
  font-family: 'Mulish', sans-serif;
  text-align: left;
  background-color: #000;
  font-size: 18px;
  line-height: 1.5;
}

.topgallery-container {
    overflow: hidden;
    width: 100%;
}

.topgallery {
    display: flex;
  flex-direction: row;
    transition: transform 1s ease;
}
.topgallery img {
    width: auto; 
    height: auto;
  max-height: 200px;
  max-width: 100%;
}

.section-two {
  position: relative;
  overflow-y: hidden; 
  padding: 0px;
  height: 900px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #EEE5E9;
  background-color: #000;
  font-size: 18px;
  line-height: 1.5;

}
.material-symbols-outlined {
  font-size: 75px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: #EEE5E9; /* Set the color you want */
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}

.fasilitas-container {
  position: absolute;
  text-align: center;
  font-size:18px;
  flex: 1;
  color:#EEE5E9;
  padding-right: 20px;
}


.additional-icons img{
  height: 40px;
  width:auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-50%);
  top: 530px;
}
.section-three {
  position: relative;
  overflow-y: hidden; 
  padding: 0px;
  height: 900px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #000;
  background-color: #EEE5E9;
  font-size: 18px;
  line-height: 1.5;

}

.living-room {
    position: relative;
   overflow-y:hidden;
     margin-top: 0;
    max-width: 33%;
    margin-left: 0;
}


.living-room img {
    width: 33%; 
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.living-room-text{
  width:33%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEE5E9;
  }



  .living-room img {
      width: 33%; 
      height: auto;
      opacity: 1;
      transition: opacity 1s ease-in-out;
  }

  
  
  .living-room a {
      display: block;
      top: 0;
      left: 0;
      /*transform: translateY(20px);*/
      opacity: 1;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .living-room a.active img {
      /*transform: translateY(0);*/
      opacity: 1;
  }


dining-room {
  position: relative;
 overflow-y:hidden;
   margin-top: 0;
  max-width: 33%;
  margin-left: 33%;
}


.dining-room img {
  width: 33%; 
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.dining-room-text{
width:33%;
height: auto;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
color: #EEE5E9;
}




.dining-room img {
    width: 33%; 
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}



.dining-room a {
    display: block;
    top: 0;
    left: 0;
    /*transform: translateY(20px);*/
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.dining-room a.active img {
    /*transform: translateY(0);*/
    opacity: 1;
}

gazebo {
  position: relative;
 overflow-y:hidden;
   margin-top: 0;
  max-width: 33%;
  margin-left: 66%;
}


.gazebo img {
  width: 33%; 
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.gazebo-text{
width:33%;
height: auto;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
color: #EEE5E9;
}

.gazebo a {
    display: block;
    top: 0;
    left: 0;
    /*transform: translateY(20px);*/
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.gazebo a.active img {
    /*transform: translateY(0);*/
    opacity: 1;
}
  
  famroom {
    position: relative;
   overflow-y:hidden;
     margin-top: 0;
    max-width: 100%;
    margin-left: 0%;
  }


  .famroom img {
    width: 100%; 
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .famroom-text{
  width:100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EEE5E9;
  }

  .famroom a {
      display: block;
      top: 0;
      left: 0;
      /*transform: translateY(20px);*/
      opacity: 1;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }

  .famroom a.active img {
      /*transform: translateY(0);*/
      opacity: 1;
  }




.slideshow-container{
  position: relative;
  overflow-y: hidden; 
  overflow-x:hidden;
  padding: 0px;
  height: 300px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #EEE5E9;
  background-color: #000;
  font-size: 18px;
  line-height: 1.5;

}


@media only screen and (max-width: 600px) {
  .slideshow-container {
    height: 20px; /* Adjust height for smaller screens */
    font-size: 7px; /* Adjust font size for smaller screens */
  }
}


