body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background: url('https://raw.githubusercontent.com/yuiyeyo/Lovender/main/lovender%20asset/header.png') no-repeat center center fixed;
  background-size: cover;
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  font-size: 40px;
  position: fixed;
  line-height: 1.5;
  width: 100%;
  top: 0;
}

.section-one {
  background: url('https://raw.githubusercontent.com/yuiyeyo/Lovender/main/lovender%20asset/background%20sec%201.png') no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #EEE5E9; /* Adjust text color for visibility on the background */
  font-size: 18px;
  line-height: 1.5;
}

footer {
  padding: 20px;
  text-align: center;
  background: #f1f1f1;
}