
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background: url('https://raw.githubusercontent.com/yuiyeyo/Lovender/main/lovender%20asset/header.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  padding: 5px;
  padding-bottom: 20px;
  text-align: center;
  color: #000;
  font-size: 40px;
  line-height: 1.5;
  width: 100%;
}

.content-container {
  position: relative;
  overflow-y: auto; 
}

.section-one {
  position: relative;
  overflow-y: hidden; 
  padding: 0px;
  height: 30vh;
  font-family: 'Mulish', sans-serif;
  text-align: left;
  background-color: #000;
  font-size: 18px;
  line-height: 1.5;
}

.topgallery-container {
    overflow: hidden;
    width: 100%;
}

.topgallery {
    display: flex;
  flex-direction: row;
    transition: transform 1s ease;
}
.topgallery img {
    width: auto; 
    height: auto;
  max-height: 200px;
  max-width: 100%;
}

.section-two {
  position: relative;
  overflow-y: hidden; 
  padding: 0px;
  height: 900px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  color: #EEE5E9;
  background-color: #000;
  font-size: 40px;
  line-height: 1.5;

}
.material-symbols-outlined {
  font-size: 75px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: #EEE5E9; /* Set the color you want */
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}

.fasilitas-container {
  position: absolute;
  text-align: center;
  font-size:18px;
  flex: 1;
  color:#EEE5E9;
  padding-right: 20px;
}


.additional-icons img{
  height: 40px;
  width:auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-50%);
  top: 530px;
}
